h2 {
  text-align: center;
  color: darkslategray;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  li {
    margin: 10px;
    border: 2px solid white;
    border-radius: 5px;

    a {
      display: flex;
    }

    .details {
      background-color:darkcyan;
      text-align: center;
      padding: 10px;
      border-radius: 2px;
      font-weight: bold;
    }
  }
}